.hero{
    background-color: #E9F5FF;
}

.hero__block{
    padding-top: 176px;
    margin-bottom: 63px;
}

.four{
    display: none;
}

.hero__block{
    display: flex;
    justify-content: space-between;
}

.hero__wrapper{
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0.04em;
    text-align: center;
    width: 340px;
    color: #fff;
    padding: 54px 36px;
    border-radius: 8px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05), 0 10px 15px 0 rgba(31, 100, 133, 0.1);
    background: #1391ce;
}

.hero__title{
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
    font-size: 36px;
    line-height: 121%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #1391ce;
}

.hero__box{
    margin-top: 96px;
    display: flex;
    justify-content:space-between;
}

.hero__subTitle{
    font-weight: 400;
    font-size: 16px;
    line-height: 134%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #25468a;
    margin-bottom: 16px;
}

.hero__name{
    font-weight: 700;
    font-size: 32px;
    line-height: 134%;
    letter-spacing: 0.01em;
    color: #1391ce;
    margin-bottom: 32px;
}

.hero__text{
    width: 448px;
    font-weight: 400;
    font-size: 18px;
    line-height: 134%;
    letter-spacing: 0.02em;
    color: #4f4f4f;
    margin-top: 24px;
}

.hero__out{
    font-weight: 600;
    font-size: 22px;
    line-height: 134%;
    letter-spacing: 0.02em;
    color: #1391ce;
    margin-bottom: 16px;
}

.hero__even{
    margin-top: 8px;
    width: 410px;
    font-weight: 400;
    font-size: 16px;
    line-height: 134%;
    letter-spacing: 0.02em;
    color: #4f4f4f;
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    &::before{
        content: " ";
        display: inline-block;
        width: 25px;
        height: 25px;
        margin-right: 18px;
        background-repeat: no-repeat;
        background-image: url('../img/even.svg');
        background-position: left;
    }
}

@media screen and (max-width: 1085px) {
    .hero__wrapper{
        width: 320px;
        padding: 48px 32px;
    }

    .hero__box{
        display: block;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 995px) {
    .three{
        display: none;
    }

    .hero__block{
        display: flex;
        gap: 48px;
    }

    .hero__wrapper{
        width: 360px;
        padding: 54px 36px;
    }
}

@media screen and (max-width: 550px) {
    .three{
        display: block;
    }

    .four{
        display: block;
    }

    .hero__block{
        display: block;
    }

    .hero__wrapper{
        width: 260px;
        padding: 54px 36px;
        margin-bottom: 34px;
        margin-left: auto;
        margin-right: auto;
    }

    .hero__title{
        width: 230px;
    }

    .hero__text{
        width: 180px;
    }

    .hero__even{
        width: 180px;
    }
}